{% extends 'base.html' %}

{% block content %}
<html>
    <head>
        <title></title>
        <link rel="stylesheet" type ="text/css" href="rush-guard.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


        
    </head>
    <center>
        <body>
    <div class="container">
        <div class="navbar">
            <img src="logos.jfif" class="logo">
        
        <img src="shop.jpg" width="1000" height="300" alt="">
        <div class="col">
            <div class="card card1">
                <h5>RUSH GUARD</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="card card2">
                <h5>SWIMSUIT</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="card card3">
                <h5>SPORTS BRAS</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="card card4">
                <h5>TIGHTS</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
    </body>
    </center>
</html>
{% endblock %}